@model IEnumerable<ProductModels.Lib.Student>

@{
    ViewData["Title"] = "Blog";
}

<h1>Blog</h1>

<div class="grid-container">
    @foreach (var item in Model)
    {
    <div class="tt">
        <a asp-action="Create">
            <div class="grid-item">
                @Html.DisplayFor(modelItem => item.FirstName)

            </div>
        </a>
    </div>
    }
</div>